{% extends "layout.html" %}

{% block content %}
<div id="character-container" class="row">
  <!-- O conteúdo será carregado dinamicamente via JavaScript -->
</div>

<div class="text-center">
  <button id="load-more" class="btn btn-primary mt-3">Carregar Mais</button>
</div>
{% endblock %}










<!-- 




<div id="character-container" class="row">
      

      <div class="col-sm-3 col-6">

        <img src="{{character.image}}" alt="{{character.name}}" class=" img-fluid img-thumbnail">
        
        <h3 class="h5">{{character.name}}</h3>
        <p>
          <a href="/profile/{{character.id}}" 
          class="btn btn-primary">Ver perfil</a>
        </p>

      </div>

      
    </div>

<div class="text-center">
  <button id="load-more" class="btn btn-primary mt-3">Carregar Mais</button>
</div>
-->