{% extends "layout.html" %}

{% block content %}
<h1>Episodes List</h1>
<ul>
    {% for episode in episodes %}
    <li>
        <h2>{{ episode.name }} (Season {{ episode.episode }})</h2>
        <p><strong>Air Date:</strong> {{ episode.air_date }}</p>
        <p><strong>Characters:</strong></p>
        <ul>
            {% for character_url in episode.characters %}
            <li>
                <!-- Aqui você pode criar um link para o perfil do personagem -->
                <a href="{{ character_url }}">{{ character_url }}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}