{% extends "layout.html" %}

{% block content %}
  <style>
    .scroll-section {
      max-height: 100px;
      overflow-y: auto;
    }
  </style>
  
  <div class="row row-cols-1 row-cols-md-5 g-5">
    <div class="col">
      <img src="{{ profile.image }}" alt="{{ profile.name }}" class="img-fluid img-thumbnail" />
      <h1 class="display-5">{{ profile.name }}</h1>
      <h2 class="h6">Status:
        {% if profile.status == "Dead" %}
          <span class="text-danger">{{ profile.status }}</span>
        {% elif profile.status == "Alive" %}
          <span class="text-success">{{ profile.status }}</span>
        {% else %}
          {{ profile.status }}
        {% endif %}
      </h2>
      <h2 class="h6">Species: {{ profile.species }}</h2>
      <h2 class="h6">Type:
        {% if profile.type == "" %}
          Not specified
        {% else %}
          {{ profile.type }}
        {% endif %}
      </h2>
      <h2 class="h6">Gender: {{ profile.gender }}</h2>
      <h2 class="h6">Origin: {{ profile.origin['name'] }}</h2>
      <h2 class="h6">Location: {{ profile.location['name'] }}</h2>
      <br>
      <h3 class="h7">Lista de episódios:</h3>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#locationModal{{ profile.id }}">
        Ver mais
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="locationModal{{ profile.id }}" tabindex="-1" aria-labelledby="locationModalLabel{{ profile.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="locationModalLabel{{ profile.id }}">Lista de episódios que {{ profile.name }} participa</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ol>
                {% for episode in profile['episode'] %}
                  <li>
                    <a href="/episodes/{{ episode.id }}">Episódio: {{ episode.name }} (ID: {{ episode.id }})</a>
                  </li>
                {% else %}
                  <li>Nenhum episódio encontrado.</li>
                {% endfor %}
              </ol>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
